.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100vh;
}

.formWrapper {
  background: #E3651D;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: Black;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 1000;
}

.homePageLogo {
  width: 100%;
  max-height: 200px; /* Adjust the maximum height of the logo */
  object-fit: contain; /* Maintain aspect ratio while fitting the logo within the container */
  display: block; /* Remove extra space below the logo */
}



.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #F3FEB8;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn,.copyBtn {
  background: #FFDE4D;
  width: 100px;
  margin-left: auto;
  font-weight: 1000;
}

.joinBtn:hover{
  background: #FFB200;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 500;
}

.createNewBtn {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #E3651D;
  border-color: #E3651D;
}

.createNewBtn:hover
{
  color: #FFB200;
  border-color: #FFB200;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 200px;
  width: 100%;
  filter: invert(1); /* Inverts the colors, turning black to white */
}

.leaveBtn, .copyBtn {
  width: 100%;
  margin-top: 20px;
  color: white;
  background-color: #282a36;
}
.leaveBtn:hover, .copyBtn:hover{
  background:#0C1844 ;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}